<h2>Titulo: {{books.title}}</h2>

<p>Este livro tem {{books.pageqty}} páginas.</p>
<p>Criado por {{books.author}}</p>

<button>
<a href="/books">Voltar</a>
</button>
<br>
<button>
    <a href="/books/edit/{{books.id}}">Editar livro</a>
</button>