
<div class="input-add-books">

<h1>Cadastrar novo livro 📕</h1>
<form action="/books/criarbook" method="post">
  <label for="name">Nome do livro:</label>
  <input type="text" name="title" /><br />

  <label for="pageqty">Número de páginas:</label>
  <input type="number" name="pageqty" /><br />

  <label for="author">Autor:</label>
  <input type="text" name="author" /><br />

  <div>
    <input type="submit" value="Cadastrar livro" />
  </div>

</div>
</form>