<div id="book-page">
    <div id="container">
        <h1>Titulo: {{book.title}}</h1>
        <p>Este livro tem {{book.pageqty}} páginas.</p>
    </div>
</div>

<div>
    <a href="/books">Voltar</a>
</div>